<div class="top">
  <h3 class="logo">BENJAMIN TOOSEY.</h3>
  <div class="nav-links">
    <div class="nav-btn">ABOUT</div>
    <div class="nav-btn">PROJECTS</div>
    <div class="nav-btn">CONTACT</div>
  </div>
</div>
<div class="bottom"></div>
<div class="left"></div>
<div class="right">
  <ul class="social-links">
    <li><a href="https://www.linkedin.com/in/benjamin-toosey" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i></a></li>
    <li><a href="https://www.github.com/btoosey" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></a></li>
  </ul>
</div>
