<div class="top">
  <h3 class="logo">BENJAMIN TOOSEY.</h3>
  <div class="nav-links">
    <h4>ABOUT</h4>
    <h4>PROJECTS</h4>
    <h4>CONTACT</h4>
  </div>
</div>
<div class="bottom"></div>
<div class="left"></div>
<div class="right">
  <ul class="social-links">
    <li><%= link_to 'www.linkedin.com/in/benjamin-toosey' do %><i class="fab fa-linkedin"></i><% end %></li>
    <li><%= link_to 'www.github.com/btoosey' do %><i class="fab fa-github"></i><% end %></li>
  </ul>
</div>
