<div class="intro-wrapper">
  <div class="home-intro-background"></div>
  <h1 class="intro-h1">HI THERE<div>.</div></h1>
  <h3 class="welcome-text">Welcome to my portfolio site.<br>I hope you enjoy your stay.</h3>
</div>
