<div class="intro-wrapper">
  <div class="home-intro-background"></div>
  <h1 class="intro-h1">HI THERE<div>.</div></h1>
  <h3 class="welcome-text fade-in-left">Welcome to my portfolio site.<br>I hope you enjoy your stay.</h3>
  <div class="scroll-arrow">
    <h4 class="scroll-text">Scroll</h4>
    <i class="fas fa-long-arrow-alt-down"></i>
  </div>
</div>
