<div class="navbar">
  <div class="container">
    <div class="navbar-content">
      <h3 class="logo">BENJAMIN TOOSEY.</h3>
      <div class="site-links">
        <h4>About</h4>
        <h4>Projects</h4>
        <h4>Contact</h4>
      </div>
    </div>
  </div>
</div>
