<div class="navbar">
  <div class="my-container d-flex justify-content-between">
      <h3 class="logo">BENJAMIN TOOSEY.</h3>
      <div class="nav-links">
        <h4>ABOUT</h4>
        <h4>PROJECTS</h4>
        <h4>CONTACT</h4>
      </div>
  </div>
</div>
