<div class="border-wrapper">
  <div class="content-container">
    <h1><%= @web_project.title %></h1>
    <p><%= @web_project.description %></p>
    <a target="_blank", href=<%= @web_project.site_url %>  >Visit Project</a>
    <a target="_blank", href=<%= @web_project.source_url %>  >View Source</a>
  </div>
</div>
