h1 {
  font-family: Khula, sans-serif;
  font-weight: 800;
  font-size: 7.48em;
  color: #1C1A20;
}

h2 {
  font-size: 3.157em;
  font-family: Khula, sans-serif;
  font-weight: 800;
  color: #1C1A20;
}

h3 {
  font-family: Khula, sans-serif;
  font-weight: 800;
  font-size: 1.5em;
  color: #1C1A20;
}

h4 {
  font-family: Khula, sans-serif;
  font-weight: 800;
  font-size: 1.1em;
  color: #1C1A20;
}

p {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #1C1A20;
}

.txt {
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #1C1A20;
}
