.home-intro-background {
  background-image: url("Water1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 125vh;
  width: 50%;
  z-index: 4;
}

.border-wrapper {
  padding: 40px;
}

.intro-h1 {
  z-index: 5;
  margin: 0px;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  transition: 1s;
  div {
    color: #2F88A3;
    display: inline;
  }
}

.welcome-text {
  z-index: 5;
  margin: 0px;
  position: absolute;
  top: 80%;
  transform: translate(0%, -50%);
}

.scroll-arrow {
  position: absolute;
  top: 85%;
  left: calc(50% - 24px);
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(248, 248, 248);
}

.scroll-text {
  transform: rotate(-90deg);
  padding-left: 8px;
}
