.projects {
  padding: 160px 0px 120px 0px;
  display: flex;
}

.project-card {
  background-color: #023F5C;
  width: auto;
  height: 216px;
  margin-bottom: 80px;
  padding: 24px;
  h3 {
    padding-bottom: 0px;
    color: white;
  }
  p {
    color: rgba(255, 255, 255, 0.5);
  }
}

.project-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  width: 100%;
  margin-left: 32px;
  margin-right: 0px;
}
